html{
	font-size:16px;
	font-family:Helvetica;
}

header{
	background-color:#CAEBF2;
	width:100%;
	display:flex;
	flex-direction:column;

}

#banner-desktop{
	display:none;
}

#topnav-desktop{
	display:none;
}

#topnav-mobile ul{
	display:flex;
	flex-direction:row;
	justify-content: space-around;
	align-items:center;
	height:4rem;
	
}

#topnav-mobile ul li img{
	height:2rem;
	width:auto;
}

.banner-image{
	width:100%;
	height:auto;
}

.main-story-img{
	margin-top:4rem;
	width:100%;
	height:auto;
}

.page-intro{
	background-color:#EFEFEF;
	color:#A9A9A9;
}

.page-intro .banner-image{
	display:none;
}

.page-intro .banner-image-mobile{
	width:100%;
	height:auto;
}

.banner-snippet{
	padding:2rem 1rem 2rem 1rem;
}

.banner-snippet h1{
	font-size:4rem;
	font-weight:bold;
	padding-bottom:2rem;
	color:black;
	line-height:1.25;
	margin-left:1rem;
}

.banner-snippet p{
	font-size:1.5rem;
	font-weight:bold;
	line-height:1.5;
	padding-bottom:1.5rem;
	margin:1rem;
}

.banner-snippet p a{
	background-color:#FF3B3F;
	color:white;
	font-weight:bold;
	font-size:1.5rem;
	line-height:1.5;
	display:flex;
	justify-content:center;
	padding:1rem 6rem 1rem 6rem;
	margin-left:1rem;
	margin-right:1rem;
}

#main-story{
	display:none;
}

#side-stories{
	display:flex;
	flex-direction:column;
	justify-content: center;
	margin:1rem;
	height:auto;
}

#side-stories .side-story-img{
	display:none;
}

#side-stories img{
	width:100%;
}

#side-stories p a{
	color:blue;
	font-weight:bold;
}

.side-story-summary{
	background-color:#CAEBF2;
	padding: 2rem 1rem 2rem 1rem;
}

.side-story-summary h2{
	color:black;
	font-size:3rem;
	font-weight:bold;
	line-height:1.5;
}

.side-story-summary p{
	line-height:1.5;
	font-size:1.5rem;
	color:grey;
}

#course-offerings h2{
	font-size:3rem;
	font-weight:bold;
	padding:2rem 1rem 2rem 1rem;
	text-align:center;
}

#featured-courses img,
#featured-courses p{
	display:none;
}

#featured-courses{
	display:flex;
	flex-direction:column;
	align-items:center;
	margin-bottom:4rem;
}
#featured-courses h3{

	font-size:2rem;
	font-weight:bold;
	background-color:#EFEFEF;
	color:black;
	margin:.5rem 1rem .5rem 1rem;
	padding:1.5rem 1rem 1.5rem 1rem;
	line-height:1.5;
	width:36rem;
	align-items:center;
}

#thesis-exhibit h2{
	font-size:3rem;
	font-weight:bold;
	text-align:center;
	padding:3rem auto 1rem auto;
}

#thesis-main h3,
#thesis-main blockquote{
	display:none;
}

#thesis-main video{
	display:block;
	width:100%;
	height:auto;
	margin-bottom:1.5rem;

}

#thesis-side{
	display:none;
}

footer nav{
	display:none;
}
footer{
	display:flex;
	flex-direction:column;
	padding:1rem;
	line-height:1.5;
	background-color:#FF3B3F;
	color:white;
	font-weight:bold;
	font-size:1.5rem;
}